/* header */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: aliceblue;
    background-color: #1656b6;
}

div.title {
    color: white;
    text-align: center;
}

div.title h1 {
    padding: 0.625rem;
}

/* Dashboard Container */

main.dashboard {
    background-color: rgb(247, 247, 247);
}

/* Left Container */

div.recent-search h2 {
font-size: 1.5rem;
}

div.city {
    padding: 0.625rem;
}

div.city-list {
    margin-top: 1.25rem;
}



