/* header */
*:root {
    color: #fff;
    color: #1656b6;
    color: #0000;
    color: #19334d;
}

.header {
    padding: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: rgb(280, 280, 280);
    background-color: #1656b6;
}

div.title {
    color: #fff;
    text-align: center;
}

div.title h1 {
    padding: 0.625rem;
}

/* Dashboard Container */

main.dashboard {
    background-color: rgb(240, 240, 240);
    min-height: fit-content;
    min-width: fit-content;
    gap: 1rem;
    background-image: url('https://source.unsplash.com/1600x1400/?weather');
}

/* Left Container */

div.recent-search h2 {
font-size: 1.2rem;
}

div.city {
    padding: 0.625rem;
}

div.city-list {
    margin-top: 1.25rem;
}

div.city-name {
    background-color: #fff;
    color: #0000;
}

/* Current Weather */

div.current-weather {
    margin-bottom: 1.25rem;
    background-color: #fff;
}

div.current-weather h2, div.current-weather h3 {
    font-size: 1.3rem;
    margin: 0.625rem;
}

span#uv-index {
    color: #fff;
}

/* Daily Weather Forecast for 5 Days*/

div.five-day h2 {
    font-size: 1.2rem;
}

div.five-day p {
    font-size: .8rem;
}

div.five-day, p.card-title {
    font-weight: bold;
    color:#fff;
    background-color: #19334d;
    display: wrap;
    align-content: flex-end;
}

.flex-container {
    display: flex;
    align-content: center; 
}